.info-container {
  width: 15vw;
  height: 40vh;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #473e45;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info-container h1, .info-container p {
  width: 90%;
  text-align: center;
}

.info-container h1 {
  color: #f64c72;
}

.info-container p {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}