.countdown-container {
  width: 15vw;
  height: 30vh;
  border: 5px solid hsl(0, 0%, 40%);
  padding: 5px;
  background-image: url("../../images/hubble-telescope-nasa-10.png");
  outline: 5px solid hsl(0, 0%, 60%);
  box-shadow: 
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 10px hsl(0, 0%, 90%);
}

.countdown-container p {
  color: white;
}